/* Styling for the main container */
.main.container {
  max-width: 800px; /* Set a maximum width for the container */
  margin: 0 auto;   /* Center the container horizontally */
  padding: 20px;    /* Add padding for spacing */

  /* Add a background color and rounded corners to the container */
  background-color: #f4f1ec;
  border-radius: 10px;
}

/* Styling for the new-tweet section */
.new-tweet {
  padding: 20px;    /* Add padding for spacing */

  /* Add a background color and rounded corners to the section */
  background-color: #f4f1ec;
  border-radius: 5px;
}

/* Styling for the label and textarea inside the form */
label, textarea {
  display: block; /* Display label and textarea on separate lines */
  margin-bottom: 10px; /* Add spacing between label and textarea */
}

/* Styling for the textarea */
#tweet-text {
  width: 100%; /* Make the textarea width 100% of its container */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border */
  border-radius: none; /* Add rounded corners */
  resize: none; /* Disable textarea resizing */
  border: none; /* Remove border */
  background-color: #f4f1ec;
  border-bottom: 2px black solid;
}

/* Styling for the tweet button */
.tweet-button {
  background-color: #4056A1; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

/* Styling for the counter output element */
.counter {
  font-size: 24px; /* Set the font size */
  color: #999; /* Set text color */
}

.formfooter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.counter-red {
color: red;
}

@media (min-width: 1024px) {
  body {
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  #main-header {
    width: 50%;
    margin-left: 40px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
  }

  .container {
    margin-top: 1000px;
    width: 50%;
    padding: 20px;
  }
}

