/* Reset some default styles */
/* Reset some default styles */
body, header, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 20;
}

/* Apply a box-sizing border-box model to all elements */
* {
  box-sizing: border-box;
}
/* Style for the tweet container */
.tweet {
  display:flex;
  border: 3px solid #ccc;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  width: 95%;
  height: fit-content;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
}

.tweet:hover {
  box-shadow: 5px 10px  #9b9b9a;
}

/* Style for the tweet header */
.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #f4f1ec;
  font-family: 'Source Sans 3', sans-serif;
  background-image: none;
  height: 100px;
}

.tweet-header .tweet-header-left {
  display: flex;
  align-items: center;
}

.tweet-header img {
  border-radius: 50%; /* Fully round the profile images */
  margin-right: 8px;
}

.username {
  font-weight: bold;
}

.handle {
  color: #c9c7c7;
  font-weight: lighter;
}
/* Style for the tweet body (content) */
.tweet-body p {
  margin: 10px auto;
  border-bottom: 5px #555;
  border: none;
  border-bottom: 3px #555 solid;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
}

/* Style for the tweet footer */
.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888;
}

.tweet-footer span.timestamp {
  font-size: 12px;
}

.tweet-footer div i {
  margin-right: 8px;
  cursor: pointer;
}
.fa-solid.fa-flag:hover {
  color: #4056A1;
}
.fa-solid.fa-retweet:hover {
  color: #4056A1;
}
.fa-solid.fa-heart:hover {
  color: #4056A1;
}


